<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
        <script>
            var app = angular.module("CalculatorApp", []);
            app.controller("CalculatorController", function($scope) 
            { 
                $scope.result = function() { 
                    if ($scope.operator == '+') { return $scope.a + $scope.b; }
                    if ($scope.operator == '-') { return $scope.a - $scope.b; }
                    if ($scope.operator == '*') { return $scope.a * $scope.b; }
                    if ($scope.operator == '/') { return $scope.a / $scope.b; }
                }
            });  
        </script> 
    </head>

    <div ng-app="CalculatorApp" ng-controller="CalculatorController"> 
        <p><input type="number" ng-model="a"></p> <p><input type="number" ng-model="b"></p>
        <p><select ng-model="operator"> 
            <option>+</option>
            <option>*</option>
            <option>-</option> 
            <option>/</option> 
        </select></p>
        
        <p>{{ result() }}</p>
    </div> 
</html>
